# Dependencias
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs/
*.log
*.gz

# Variables de entorno
.env

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos editor de código
.vscode/
.idea/

